<div class="body">

<div class="containerInformation">
<h1>SISTEMA GESTIÓN
  <br>
  <span>DE INVENTARIO</span>
</h1>

<p>Sistema para la gestión de bienes informáticos, diseñada para realizar el seguimiento y control de productos de hardware y software en stock.
  Permitiendo a los usuarios gestionar las existencias, el seguimiento y control de estos productos.
</p>
</div>

<div class="containerImages">
  <img class="logo-espoch" src="../../../../assets/img/logo-espoch.svg" alt="logo-espoch">
  <img class="logo-frase" src="../../../../assets/img/logo-hacemos-historia-1.png" alt="logo-frase">
</div>

</div>
